<a class="section-separator"  name="prueba-de-manejo"></a>
<div id="instant-drive-section"></div>
<div id="text-drive-section" class="model-section special-padding-top  window-adaptable"  data-min-height="700">
    <div id="test-drive-models">
        <div class="section-title">
            <div class="title">Agendar prueba de manejo</div>
            <div class="description">En dos sencillos pasos podrás agendar tu prueba de manejo y vivir la experiencia Suzuki.</div>
        </div>
        <div id="test-drive-steps">
            <div id="header-prueba-manejo-modelos">
                <div class="test-panel-tabs">
                    <ul>
                        <li class="test-tabs model-test-tab active">
                            <a class="model-change-tab" href="#" data-number="2">
                                ¿Cuándo quieres hacer tu prueba de manejo?
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel_tabs_container">
                    <br><br><br>
                    <div class="panel_tabs" id="">
                        <div class="step-tab step-tab-model active" id="td-model-step-2">
                            <div id="step-2-car" class="step-left">
                                <div class="car_thumb_180">
                                    <div class="car">&nbsp;</div>
                                </div>
                                <h3 class="secondary-title"></h3>
                            </div>
                            <div class="step-right">
                                <div id="step-2-form">
                                    <form id="test_drive">
                                        <p id="step-2-p-date">
                                            <span style="color: red; font-size: 12px;">
                                                Los campos marcados con
                                                <span class="fa fa-asterisk"></span>
                                                son requeridos
                                            </span>

                                            <p id="step-2-p-contact">
                                                Para mejorar tu experiencia nos gustaría conocerte.<br>Proporciónanos los siguientes datos para poder comunicarnos contigo.
                                            </p>
                                        </p>

                                        <div id="mail-cel-step-2">
                                            <fieldset>
                                                <label for="step-2-date"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Selecciona fecha</label>
                                                <input
                                                    type="text"
                                                    value=""
                                                    name="step-2-date"
                                                    id="step-2-date"
                                                    placeholder="YYYY-MM-DD"
                                                    data-validation-data="required|date">
                                                <p class="invalid-message">Este campo es obligatorio<span>&nbsp;</span></p>
                                            </fieldset>
                                            <fieldset>
                                                <label for="step-2-name"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Nombre</label>
                                                <input
                                                    type="text"
                                                    value=""
                                                    name="step-2-name"
                                                    id="step-2-name"
                                                    placeholder="Nombre"
                                                    data-validation-data="required|name">
                                                <p class="invalid-message">Este campo es obligatorio<span>&nbsp;</span></p>
                                            </fieldset>
                                            <fieldset>
                                                <label for="step-2-lastname"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Apellido</label>
                                                <input
                                                    type="text"
                                                    value=""
                                                    name="step-2-lastname"
                                                    id="step-2-lastname"
                                                    placeholder="Apellidos Paterno y Materno"
                                                    data-validation-data="required|name">
                                                <p class="invalid-message">Este campo es obligatorio<span>&nbsp;</span></p>
                                            </fieldset>
                                            <fieldset>
                                                <label for="step-2-email"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Correo electrónico</label>
                                                <input
                                                    type="email"
                                                    name="step-2-email"
                                                    id="step-2-email"
                                                    placeholder="Correo electrónico"
                                                    data-validation-data="required|email" />
                                                <p class="invalid-message">Este campo es obligatorio<span>&nbsp;</span></p>
                                            </fieldset>
                                            <fieldset>
                                                <label for="step-2-tel"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Número de celular</label>
                                                <input
                                                    type="tel"
                                                    value=""
                                                    name="step-2-tel"
                                                    id="step-2-tel"
                                                    maxlength="13"
                                                    placeholder="Número de celular"
                                                    data-validation-data="required|phone"/>
                                                <p class="invalid-message">Este campo es obligatorio<span>&nbsp;</span></p>
                                            </fieldset>
                                            <fieldset class="fieldset-radio-checkbox" style="clear: both;">
                                                <label for="chk-newsletter" class="label-checkbox">
                                                    <input
                                                        type="checkbox"
                                                        id="chk-newsletter"
                                                        name="chk-newsletter"
                                                        value=""> Deseo recibir noticias y promociones.
                                                </label>
                                            </fieldset>
                                            <input type="submit" class="enviar button blue" id="" value="Agendar prueba de manejo">
                                        </div>
                                        <p id="step-2-legal">
                                            Tus datos están a salvo.<br>Para mayor información revisa nuestro <a href="aviso-privacidad.html">Aviso de Privacidad</a>
                                        </p>
                                    </form>
                                </div>
                                <div id="step-2-final">
                                    <h4 class="secondary-title">Gracias</h4>
                                    <p>
                                        Tu prueba de manejo ha sido agendada.
                                    </p>
                                    <p>
                                        Pronto recibirás confirmación en tu correo electrónico: <span id="step-2-mail-final"></span>
                                    </p>
                                    <p>
                                        Te hemos asignado un asesor de la concesionaria <a id="step-2-concessionaire-final"></a>,
                                        quien se pondrá en contacto contigo para confirmar tus datos y resolver cualquier duda que puedas tener.
                                    </p>
                                     <a id="step-2-end" class="button blue">Finalizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="model-section"></div>
