<div id="content-content">
    <div id="concessionaires" class="window-adaptable" data-min-height="550">
        <div class="concessionaire-column list" id="concessionaires-list">
            <div class="content">
                <div class="concessionaire-list">
                    <div id="concessionaires-dynamic-list">
                        <a name="concesionaires-list"></a>
                        <ul id="content-concessionaires-list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="concessionaire-column info" id="concessionaires-data">
            <div class="content">
                <div class="concessionaire-close-box">
                    <a href="#close" class="concessionaire-close">
                        <span>close</span>
                    </a>
                </div>
                <div id="content-info-concessionaire-data-wrapper"></div>
            </div>
        </div>
        <div class="concessionaire-column map" id='concessionaires-map'></div>

    </div>
    <div id="concessionaires-normal" class="window-adaptable hidden-nomobil" data-min-height="550">
        <div class="concessionaire-column list-normal" id="concessionaires-list">
            <div class="content">
                <div class="concessionaire-list">
                    <div id="concessionaires-dynamic-list">
                        <a name="concesionaires-list"></a>
                        <ul id="content-concessionaires-list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="concessionaire-column info" id="concessionaires-data">
            <div class="content">
                <div id="content-info-concessionaire-data-wrapper"></div>
            </div>
        </div>
        <div class="concessionaire-column map-normal" id='concessionaires-map-normal'></div>
    </div>
</div>
