<ul class="models-menu">
    <li class="first"><a id="change-model" class="scroll-in-site" href="#top"></a></li>
    <li class="features current"><a class="scroll-in-site" href="#caracteristicas">Características</a></li>
    <li class="gallery"><a class="scroll-in-site" href="#galeria">Galería</a></li>
    <li class="prices"><a class="scroll-in-site" href="#precios">Versiones y precios</a></li>
    <li class="accessories"><a class="scroll-in-site" href="#accesorios">Accesorios</a></li>
    <li class="top" id="back-to-top-button"><a class="scroll-in-site" href="#top"><span>Top</span></a></li>
    <li class="clearfix"></li>
</ul>
