<!-- Begin: Financiamiento -->
	<div class="header-section" style="display: block;">
		<div class="header-section-content-wrapper">
			{{!--<div class="close-menu-box">
				<a id="close-financing-panel">Cerrar<span>&nbsp;</span></a>
			</div>--}}
			<div class="header-section-content test-drive">
			    <div id="header-financiamiento">
			        {{!--<h3>Financiamiento</h3>
			        <p>En tres sencillos pasos podrás obtener una cotización y un asesor listo para ayudarte.</p>--}}
			        <div class="panel_tabs_nav">
			            <ul>
			                <li class="step-nav-tabs funding active">
			                    <a data-number="1">
			                        <span>1</span> Selecciona un Suzuki
			                    </a>
			                </li>
			                <li class="step-nav-tabs funding disabled">
			                    <a data-number="2">
			                        <span>2</span> Opciones de Financiamiento
			                    </a>
			                </li>
			                <li class="step-nav-tabs funding disabled">
			                 <a data-number="3">
			                        <span>3</span> Tu cotización
			                    </a>
			                </li>
			            </ul>
			        </div>
			        <div class="panel_tabs_container">
			            <div class="panel_tabs">
			                <div class="tab step-nav-tab funding active" id="tab-1" style="opacity: 1; display: block;">
			                    <div id="car_select_list" class="select_list">
			                        <ul>
			                            <li class="swift-sport">
			                                <a href="#" data-key="swift-sport">Swift Sport<i class="icon-right-open"></i></a>
			                            </li>
			                            <li class="swift">
			                                <a href="#" data-key="swift">Swift<i class="icon-right-open"></i></a>
			                            </li>
			                            <li class="kizashi">
			                                <a href="#" data-key="kizashi">Kizashi<i class="icon-right-open"></i></a>
			                            </li>
			                            <li class="grand-vitara">
			                                <a href="#" data-key="grand-vitara">Grand Vitara<i class="icon-right-open"></i></a>
			                            </li>
			                            <li class="s-cross">
			                                <a href="#" data-key="s-cross">S-Cross<i class="icon-right-open"></i></a>
			                            </li>
			                            <li class="ciaz">
			                                <a href="#" data-key="ciaz">Ciaz<i class="icon-right-open"></i></a>
			                            </li>
			                        </ul>
			                    </div>
			                    <div id="car_select_name">
			                        <h3 class="secondary-title">Swift Sport 2015</h3>
			                        <a href="#" id="change-car-test">Cambiar auto</a>
			                        <a class="funding-goto button blue" data-step="2">Elige tu plan</a>
			                        {{!--
			                        <a class="funding-goto button blue" data-step="2" href="#" onclick="ga('send', 'event', 'Financiamiento', 'Paso_2', 'Header_Opciones');">Elige tu plan</a>
			                        --}}
			                    </div>
			                    <div id="car_select_preview">
			                        <div class="car_thumb_160">
			                            <div class="car swift-sport"></div>
			                        </div>
			                    </div>
			                </div>
			                <div class="tab step-nav-tab funding" id="tab-2" style="opacity: 0; display: none;">
			                    <div class="options option-1 model_car">
			                        <div id="fu_adjust_car">
			                            <div class="car_thumb_60">
			                                <div class="car swift-sport"></div>
			                            </div>
			                            <h3 class="secondary-title ">Swift Sport 2015</h3>
			                            <a class="funding-goto button graylight" data-step="1" href="#" onclick="ga('send', 'event', 'Financiamiento', 'Paso_1', 'Header_Selecciona_Suzuki');">Cambiar auto</a>
			                        </div>
			                    </div>
			                    <div class="options option-2">
			                        <div id="funding-versions" style="display: block;">
			                            <h4>Versión a cotizar</h4>
			                            <ul id="funding-versions-tabs" class="stick_buttons">
			                            	<ul>
			                            		<li><a data-version="0" class="active">GLS TM</a></li>
			                            		<li><a data-version="1">GLS TA</a></li>
			                            		<li><a data-version="2">GLX TM</a></li>
			                            		<li><a data-version="3">GLX TA</a></li>
			                            	</ul>
			                           	</ul>
			                        </div>
			                        <div class="form_calcs">
			                            <form id="ranges_calc">
			                                <div class="rangeslider">
			                                    <label for="car_engagement_slider">¿Cuánto te gustaría dar de enganche?</label>
			                                    <div class="slider">
			                                        <span class="star">0%</span>
			                                        <div id="car_engagement_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			                                        <span class="end">80%</span>
			                                    </div>
			                                </div>
			                                <div class="rangeslider">
			                                    <label for="car_months_slider">Plazo en que te gustaría pagarlo (meses)</label>
			                                    <div class="slider">

			                                        <span class="star">6</span>
			                                        <div id="car_months_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			                                        <span class="end">60</span>
			                                    </div>
			                                </div>
			                            </form>
			                        </div>
			                    </div>
			                    <div class="options option-3">
			                        <div class="funding-live-results">
			                            <div class="result">
			                                <h4>Precio del modelo</h4>
			                                <span id="live-price">$ 259,000.00</span>
			                            </div>
			                            <div class="result">
			                                <h4>Enganche</h4>
			                                <span id="live-engagement">$ 51,800.00</span>
			                            </div>
			                            <div class="result">
			                                <h4>Plazo elegido</h4>
			                                <span id="live-months">6 meses</span>
			                            </div>
			                        </div>
			                        <div class="funding-live-calc">
			                            <a href="#" id="fake-calculate" class="button blue">Calcular</a>
			                            <a href="#" id="modify-calc" class="button">Modificar cotización</a>
			                            <a class="funding-goto button blue" data-step="3" onclick="ga('send', 'event', 'Financiamiento', 'Paso_3', 'Header_Cotizacion');" href="#">Siguiente</a>
			                        </div>
			                    </div>
			                </div>
			                <div class="tab step-nav-tab funding" id="tab-3" style="opacity: 0; display: none;">
			                    <div id="funding_form">
			                        <div class="results result-1">
			                            <div class="form_car" id="funding_result_car">
			                                <div id="funding_result_data">
			                                    <div class="car_thumb_60">
			                                        <div class="car swift-sport"></div>
			                                    </div>
			                                    <h3 class="secondary-title ">Swift Sport 2015</h3>
			                                    <a class="funding-goto button graylight" data-step="1" href="#" onclick="ga('send', 'event', 'Financiamiento', 'Paso_1', 'Header_Selecciona_Suzuki');">Cambiar auto</a>
			                                </div>
			                                <div class="result">
			                                    <h4>Precio del modelo</h4>
			                                    <p id="funding_result_price">$ 259,000.00</p>
			                                    <h4>Enganche</h4>
			                                    <p id="funding_result_engagement">$ 51,800.00</p>
			                                    <h4>Mensualidades</h4>
			                                    <p id="funding_result_monthly_payment">$ 36,121.51</p>
			                                    <h4>Plazo</h4>
			                                    <p id="funding_result_months">6 meses</p>
			                                </div>
			                                <div class="result-goback">
			                                    <a href="#" class="funding-goto button" data-step="2" onclick="ga('send', 'event', 'Financiamiento', 'Paso_2', 'Header_Opciones');">Modificar cotización</a>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="results result-2">
			                            <div id="funding_form_form">
			                                <form id="financia" name="financia" method="post" action="financia.php">
												<p>Nos gustaría enviarte una cotización por correo electrónico</p>
												<p><span style="color: red; font-size: 12px;">Los campos marcados con <span class="fa fa-asterisk"></span> son requeridos</span></p>
												<input type="hidden" class="fr_data" name="fr_model_car" id="fr_model_car" value="Swift 2015">
												<input type="hidden" class="fr_price" name="fr_car_price" id="fr_car_price" value="$ 174,000.00">
												<input type="hidden" class="fr_engagement" name="fr_car_engagement" id="fr_car_engagement" value="$ 34,800.00">
												<input type="hidden" class="fr_monthly_payment" name="fr_car_monthly_payment" id="fr_car_monthly_payment" value="$ 24,266.96">
												<input type="hidden" class="fr_months" name="fr_car_months" id="fr_car_months" value="6 meses">
												<input type="hidden" class="fr_concesionaria" name="porra" id="fr_concesionaria" value="Suzuki Guadalajara">
												<div id="mail_cel">
			                                        <fieldset>
			                                            <label for="hfu_name"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Nombre</label>
			                                            <input type="text" id="hfu_name" name="hfu_name" placeholder="Nombre" data-validation-data="required|name">
			                                            <p class="invalid-message" id="error_name">Este campo es obligatorio<span>&nbsp;</span></p>
			                                        </fieldset>
			                                        <fieldset>
			                                            <label for="hfu_lastname"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Apellido</label>
			                                            <input type="text" id="hfu_lastname" name="hfu_lastname" placeholder="Apellidos Paterno y Materno" data-validation-data="required|name">
			                                            <p class="invalid-message" id="error_lastname">Este campo es obligatorio<span>&nbsp;</span></p>
			                                        </fieldset>
			                                        <fieldset>
			                                            <label for="hfu_email"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Correo electrónico</label>
			                                            <input type="email" id="hfu_email" name="hfu_email" class="input icon email" placeholder="Correo electrónico" data-validation-data="required|email">
			                                            <p class="invalid-message" id="error_mail">Este campo es obligatorio<span>&nbsp;</span></p>
			                                        </fieldset>
			                                    </div>
			                                    <div id="estado-consecionaria" style="display: none;">
			                                        <fieldset id="financing-drop" name="financing-drop">
			                                            <label style="display: none;"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Estado</label>
			                                            <div id="tdcss">
			                                                <div id="tdcs"></div>
			                                            </div>
			                                            <p class="invalid-message" id="error_state">Este campo es obligatorio<span>&nbsp;</span></p>
			                                        <p class="invalid-message" id="error_concessionaire">Este campo es obligatorio<span>&nbsp;</span></p>
			                                        </fieldset>
			                                    </div>
			                					<div class="funding-hidden-inputs-none">
			                                        <fieldset>
			                                            <label for="hfu_tel"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Número de celular</label>
			                                            <input type="tel" id="hfu_tel" name="hfu_tel" maxlength="13" placeholder="Número de celular" data-validation-data="phone|required">
			                                            <p class="invalid-message" id="error_phone">Este campo es obligatorio<span>&nbsp;</span></p>
			                                        </fieldset>
			                                    </div>
			                    				<div id="drive-inputs">
			                                        <p>¿Te gustaría manejarlo?</p>
			                                        <fieldset class="fieldset-radio-checkbox">
			                                            <label for="drive_yes" class="label-radio">Sí
			                                                <input type="radio" id="drive_yes" name="hfu_drive" value="Sí deseas manejarlo">
			                                            </label>
			                                        </fieldset>
			                                        <fieldset class="fieldset-radio-checkbox">
			                                            <label for="drive_no" class="label-radio radio-checked">No
			                                                <input type="radio" id="drive_no" name="hfu_drive" value="No deseas manejarlo" checked="checked">
			                                            </label>
			                                        </fieldset>
			                                    </div>
			                                	<fieldset class="fieldset-radio-checkbox" id="checkbox-news">
			                                        <label for="funding-newsletter" class="label-checkbox">
			                                            <input type="checkbox" id="funding-newsletter" name="funding-newsletter" value=""> Deseo recibir noticias y promociones.
			                                        </label>
			                                    </fieldset>
			                                    <input type="submit" class="enviar button blue" value="Enviar">
			                                    <p id="revisa_aviso">
			                                        Tus datos están a salvo.<br>
			                                        Para mayor información revisa nuestro <a href="/aviso-privacidad">Aviso de privacidad</a>
			                                    </p>
			                                </form>
			                            </div>
			                        </div>
			                        <div class="clearfix"></div>
			                    </div>
			                    <div id="funding_resume">
			                        <div id="resume-message">
			                            <h4 class="secondary-title">Gracias</h4>
			                            <p>
			                                Tu cotización ha sido enviada a tu correo electrónico:
			                                <span id="funding_resume_email"></span>
			                            </p>
			                            <div class="funding-hidden-inputs" style="display: none;">
			                                Te hemos asignado un asesor Suzuki de la concesionaria
			                                <a id="funding_resume_concessionaire">Suzuki Polanco</a>
			                                quien se pondrá en contacto contigo para confirmar tus datos y resolver cualquier duda
			                                que puedas tener.
			                            </div>
			                        </div>
			                        <div class="resume">
			                            <h4>Precio del modelo</h4>
			                            <p id="funding_resume_price">$ 259,000.00</p>
			                            <h4>Enganche</h4>
			                            <p id="funding_resume_engagement">$ 51,800.00</p>
			                            <h4>Mensualidades</h4>
			                            <p id="funding_resume_monthly_payment">$ 36,121.51</p>
			                            <h4>Plazo</h4>
			                            <p id="funding_resume_months">6 meses</p>
			                        </div>
			                        <div id="funding-resume-car">
			                            <div class="car_thumb_60">
			                                <div class="car swift-sport"></div>
			                            </div>
			                            <h3 class="secondary-title ">Swift Sport 2014</h3>
			                            <a id="tdr_end" class="button blue">Finalizar</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
<!-- End: Financiamiento -->
