<!-- INICIO DE NUEVO SLIDER -->
    <div class="specifications-wrapper">
        <div class="specifications" id="features-wrapper">
            <!-- slide 00 -->
            <div class="specification" style="background-image: url('img/sections/home/slider/SLIDER-DE-PROMOCIONES-1659X655.jpg');">
                <div class="title-wrapper" style="color: #fff">
                    <div class="title">
                        &nbsp;
                    </div>
                </div>
                <div class="description extra-compact"><p>&nbsp;</p></div>
            </div>
            <!-- slide 00 -->
            <div class="specification" style="background-image: url('img/sections/home/slider/slider_marca-2015.jpg');">
                <div class="title-wrapper" style="color: #fff">
                    <div class="title">
                        &nbsp;
                    </div>
                </div>
                <div class="description extra-compact"><p>&nbsp;</p></div>
            </div>
            <!-- slide 01 -->
            <!-- slide 04 -->
            <!--
            <div class="specification" style="background-image: url('img/sections/home/slider/slider-5.jpg');">
                <div class="title-wrapper" style="color: #fff">
                    <div class="title">
                        &nbsp;
                    </div>
                </div>
                <div class="description regular"><p>&nbsp;</p></div>
            </div>
            -->
            <!-- slide 05 -->
            <div class="specification" style="background-image: url('img/sections/home/slider/promos03.jpg');">
                <div class="title-wrapper" style="color: #fff">
                    <div class="title">
                       &nbsp;
                    </div>
                </div>
                <div class="description compact"><p>&nbsp;</p></div>
            </div>
            <!-- slide 06 -->
            <div class="specification" style="background-image: url('img/sections/home/slider/nueva-vitara.jpg');">
                <div class="title-wrapper" style="color: #fff">
                    <div class="title">
                       &nbsp;
                    </div>
                </div>
                <div class="description compact"><p>&nbsp;</p></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="specifications-controls">
            <div class="arrows">
                <div class="arrow left"><a class="specifications-controls" href="#left"><span>Left</span></a></div>
                <div class="arrow right"><a class="specifications-controls" href="#right"><span>Right</span></a></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!-- FIN DE NUEVO SLIDER -->
