<div class="concessionaire-data-wrapper">
    <div class="wrapper-title">
        <div class="data title">
            <h1 id="concessionaire-title">Suzuki López Mateos</h1>
        </div>
    </div>
    <div class="wrapper-data">
        <div class="data address">
            <div class="section-name">Dirección</div>
            <address id="concessionaire-address">
                Av. López Mateos Núm. 5654 Col. Arboledas, Zapopan, Jalisco.
            </address>
            <p>CP: <span id="concessionaire-zip">44200</span></p>
        </div>
        <div class="data phone">
            <div class="section-name">Teléfono</div>
            <a id="concessionaire-phone" href="call:01-(33)-3884-8200" target="_blank">01-(33)-3884-8200</a>
        </div>
        <div class="data website" id="concessionaire-website-wrapper">
            <div class="section-name">Sitio Web</div>
            <p><a id="concessionaire-website" href="#" target="_blank">Sitio Web</a></p>
        </div>
    </div>
    <div class="wrapper-image">
        <div class="big-image">
            <img id="concessionaire-image" src="img/sections/concessionaires/previews/lopez-mateos-big.jpg" alt="Suzuki Aguascalientes" title="Suzuki Aguascalientes" />
        </div>
    </div>
    <div class="wrapper-test-drive">
        <div class="data test-drive">
            <a href="#prueba-de-manejo" id="open-test-drive">Agenda tu prueba de manejo</a>
        </div>
        <div class="view-more"><a href="#more" class="view-all-concessionaires">Ver todas las concesionarias</a></div>
        <a href="#" id="back-list-concessionaires">Ver todas las concesionarias</a>
    </div>
</div>
