<div id="content-content">
    <p id="catalog_title">CATÁLOGOS</p>
    <div class="catalog" id="catalog-menu">
        <div id="catalog-wrapper" class="items-wrapper et-wrapper">
            <div id="catalog-swift-sport" class="item et-section  swift-sport" data-key="swift-sport" style="background-image: url(img/sections/catalog/swift-sport.jpg);">
                <div class="content ">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>Swift Sport 2015</h2></div>
                    <div class="description">
                        <p>Diseño deportivo, movilidad veloz.<br />La combinación perfecta de un auto deportivo y uno urbano.</p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_swift-sport');" href="files/catalogs/cat_Swift_Sport.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="catalog-swift" class="item et-section  swift" data-key="swift" style="background-image: url(img/sections/catalog/swift.jpg);">
                <div class="content white">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>Swift 2015</h2></div>
                    <div class="description">
                        <p>Aerodinámico y divertido para ti que buscas diseño<br />y agilidad en un solo auto.</p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_swift');" href="files/catalogs/cat_Swift.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--<div id="catalog-sx4-crossover" class="item et-section  sx4-crossover" data-key="sx4-crossover" style="background-image: url(img/sections/catalog/sx4-crossover.jpg);">
                <div class="content ">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>SX4 Crossover 2014</h2></div>
                    <div class="description">
                        <p>Ágil y liviano, siente la vida cuando todo marcha en cuatro ruedas.</p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_sx4-crossover');" href="files/catalogs/sx4-crossover.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="catalog-sx4-sedan" class="item et-section  sx4-sedan" data-key="sx4-sedan" style="background-image: url(img/sections/catalog/sx4-sedan.jpg);">
                <div class="content white">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>SX4 Sedán 2014</h2></div>
                    <div class="description">
                        <p>Fusión de confort y desempeño. El tamaño perfecto. </p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_sx4-sedan');" href="files/catalogs/sx4-sedan.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>-->
            <div id="catalog-kizashi" class="item et-section  kizashi" data-key="kizashi" style="background-image: url(img/sections/catalog/kizashi.jpg);">
                <div class="content ">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>Kizashi 2015</h2></div>
                    <div class="description">
                        <p>"Algo grande está por venir".<br />Imponente diseño con finos acabados que roban miradas. </p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_kizashi');" href="files/catalogs/cat_Kizashi.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="catalog-s-cross" class="item et-section  s-cross" data-key="s-cross" style="background-image: url(img/sections/catalog/s-cross.jpg);">
                <div class="content ">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>S-Cross 2015</h2></div>
                    <div class="description">
                        <p>El crossover que te hará olvidar<br/>tu primera camioneta</p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_s-cross');" href="files/catalogs/cat_S-Cross.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="catalog-grand-vitara" class="item et-section  grand-vitara" data-key="grand-vitara" style="background-image: url(img/sections/catalog/grand-vitara.jpg);">
                <div class="content ">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>Grand Vitara 2015</h2></div>
                    <div class="description">
                        <p>Dinamismo, versatilidad y tecnología sin fronteras.<br />Una nueva forma de viajar. </p>
                    </div>
                    <div class="dowload">
                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_grand-vitara');" href="files/catalogs/cat_Grand_Vitara.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="catalog-ciaz" class="item et-section ciaz" data-key="ciaz" style="background-image: url(img/sections/catalog/ciaz.jpg);">
                <div class="content white">
                    <div class="car_model">&nbsp;</div>
                    <div class="model"><h2>Ciaz 2016</h2></div>
                    <div class="description">
                        <p>Equipamiento, diseño y elegancia que mereces. <br> El balance perfecto en tu vida.</p>
                    </div>
                    <div class="dowload">

                        <a class="button blue big-button" onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Catalogo_ciaz');" href="files/catalogs/ciaz.pdf" target="_blank">
                            Descargar PDF
                            <span>&#128229;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog_switch_menu">
        <div class="catalog_cars_wrapper">
            <div class="title">Selecciona tu Suzuki</div>
            <div class="catalog_car swift-sport "><a class="switch-catalog swift-sport" data-key="swift-sport" href="#swift-sport"><span>Swift Sport 2015</span></a></div>
            <div class="catalog_car swift "><a class="switch-catalog swift" data-key="swift" href="#swift"><span>Swift 2015</span></a></div>
            <!--<div class="catalog_car sx4-crossover "><a class="switch-catalog sx4-crossover" data-key="sx4-crossover" href="#sx4-crossover"><span>SX4 Crossover 2014</span></a></div>
            <div class="catalog_car sx4-sedan "><a class="switch-catalog sx4-sedan" data-key="sx4-sedan" href="#sx4-sedan"><span>SX4 Sedán 2014</span></a></div>-->
            <div class="catalog_car kizashi "><a class="switch-catalog kizashi" data-key="kizashi" href="#kizashi"><span>Kizashi 2014</span></a></div>
            <div class="catalog_car s-cross "><a class="switch-catalog s-cross" data-key="s-cross" href="#s-cross"><span>S-Cross 2015</span></a></div>
            <div class="catalog_car grand-vitara "><a class="switch-catalog grand-vitara" data-key="grand-vitara" href="#grand-vitara"><span>Grand Vitara 2015</span></a></div>
            <div class="catalog_car ciaz"><a class="switch-catalog ciaz" data-key="ciaz" href="#ciaz"><span>Ciaz 2016</span></a></div>
        </div>
    </div>
</div>
