<div id="content-content">
    <a class="section-separator" name="inicio"></a>
    <div class="full-size-section gray-degree window-adaptable model-section" data-min-height="650">
        <div class="car-main big-main" style="background: url('img/sections/models/main/ciaz.png') center 175px no-repeat">
            <div class="car-main-title">
                <div class="title">Ciaz 2016</div>
                <div class="slogan">Experimenta tu momento.</div>
                <div class="price">Diseño perfecto con el equipamiento ideal. La revolución sedán está aquí.</div>
                <div class="car-main-image" id="car-image-ciaz">&nbsp;</div>
            </div>
            <div class="car-next-step"><a href="#caracteristicas"><span>Características</span></a></div>
        </div>
    </div>
    <a class="section-separator" name="caracteristicas"></a>
    <div id="model-section-features" class="window-adaptable model-section special-padding-top" data-min-height="750">
        <div class="section-title">
            <div class="title">Características</div>
            <div class="description">Detalles que hacen de un auto una experiencia</div>
        </div>
        <div class="specifications-wrapper">
            <div class="specifications" id="features-wrapper">
                <div class="specification" style="background-image: url('img/sections/models/features/ciaz-2015-1.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Keyless Start &amp; Entry
                        </div>

                    </div>
                    <div class="description regular"><p>Con sólo un botón podrás encender tu auto sin necesidad  de insertar la llave. *Sólo para GLX</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/ciaz-2015-4.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Rines de 16”
                        </div>

                    </div>
                    <div class="description regular"><p>Llantas más anchas con un amplio diámetro para un mayor control en curvas y una mejor tracción y capacidad de frenado. *Sólo para GLX</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/ciaz-2015-2.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Amplio espacio interior
                        </div>

                    </div>
                    <div class="description regular"><p>Amplio espacio para pasajeros que brinda el mayor confort. Tu familia disfrutará al máximo cada viaje.</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/ciaz-2015-3.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Cajuela ideal para la familia
                        </div>

                    </div>
                    <div class="description regular"><p>Con un volumen de 495 lt. y apertura amplia, brinda el espacio ideal para viajar con tu familia llevando lo que sea con absoluta comodidad y confianza.</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/ciaz-2015-5.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Excelente rendimiento de combustible
                        </div>

                    </div>
                    <div class="description regular"><p>Consumo eficiente (19.4 km/lt. promedio) que hace del Ciaz el modelo automático de mayor rendimiento y ahorro económico.</p></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="specifications-controls">
            <div class="arrows">
                <div class="arrow left"><a class="specifications-controls" href="#left"><span>Left</span></a></div>
                <div class="arrow right"><a class="specifications-controls" href="#right"><span>Right</span></a></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--
        <div class="next-link-text">
            <a  class="scroll-in-site" href="#galeria"><span>Visita Galería</span></a>
        </div>
        -->
    </div>
    <a class="section-separator"  name="galeria"></a>
    <div class="window-adaptable model-section special-padding-top" data-min-height="750">
        <div class="section-title">
            <div class="title">Galería</div>
            <div class="description">Experimenta sin límite. Una nueva visión.</div>
        </div>
        <div class="galery-grid galery-of-ciaz">
            <div class="content">
                <div class="view view-first box-1">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-1.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/interior/foto-01.jpg" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-2">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-2.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/interior/foto-06.jpg" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-3">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-3.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/interior/foto-05.jpg" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-4">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-4.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/exterior/foto-07.jpg" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-5">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-5.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/interior/foto-02.jpg" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-6">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-6.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/exterior/foto-04.jpg" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-7">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-7.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/interior/foto-08.jpg" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-8">
                    <img src="img/sections/models/gallery/ciaz/boxes/box-8.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/ciaz/exterior/foto-03.jpg" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-list" >
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/exterior/foto-03.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/exterior/foto-03-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/exterior/foto-04.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/exterior/foto-04-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/exterior/foto-07.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/exterior/foto-07-mini.jpg" alt=""/>
                </a>
            </div>
            <div class="hidden-list" >
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/interior/foto-02.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/interior/foto-02-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/interior/foto-01.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/interior/foto-01-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/interior/foto-05.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/interior/foto-05-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/interior/foto-06.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/interior/foto-06-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/ciaz/interior/foto-08.jpg" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/ciaz/interior/foto-08-mini.jpg" alt=""/>
                </a>
            </div>
            <div class="hidden-list" >
            </div>
        </div>
        <!--
        <div class="next-link-text" style="margin-top: 40px;">
            <a  class="scroll-in-site" href="#precios"><span>Visita Versiones</span></a>
        </div>
        -->
    </div>
    <a class="section-separator"  name="precios"></a>
    <div class="model-section special-padding-top">
        <div class="section-title">
            <div class="title">VERSIONES Y PRECIOS</div>
            <div class="description">Detalles que hacen de un auto una experiencia.</div>
        </div>
        <div class="model-prices">
            <span class="arrow-prices arrow-prices-left">&nbsp;</span>
            <span class="arrow-prices arrow-prices-right">&nbsp;</span>
            <div id="features-space-wrapper" class="display-tables" data-display-table="prices">
                <div id="features-space-mask">
                    <div id="features-space">
                        <div class="suzuki-table cols-2 " id="versions-price-table">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                                <div class="image">
                                                    <img src="img/sections/models/prices/mini-models/ciaz-gls.png" />
                                                </div>
                                            <div class="title">
                                                <p>Ciaz GLS</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                                <div class="image">
                                                    <img src="img/sections/models/prices/mini-models/ciaz-glx.png" />
                                                </div>
                                            <div class="title">
                                                <p>Ciaz GLX</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-2">
                                        <div class="cell price col-light first">
                                            <div class="title">
                                                <p><span>GLS TM 2016 $194,900.00</span><span>GLS TA 2016 $217,900.00</span></p>
                                            </div>
                                        </div>
                                        <div class="cell price col-dark last">
                                            <div class="title">
                                                <p><span>GLX TM 2016 $224,900.00</span><span>GLX TA 2016 $239,900.00</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Motor: 4 cilindros, 1.4 litros, 16 válvulas.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Motor: 4 cilindros, 1.4 litros, 16 válvulas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Potencia máxima (hp/rpm): 100/6,000</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Potencia máxima (hp/rpm): 100/6,000</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Transmisión automática de 4 velocidades o manual de 5 velocidades</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Transmisión automática de 4 velocidades o manual de 5 velocidades</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Elevadores eléctricos de cristales</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Elevadores eléctricos de cristales</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Seguros y espejos eléctricos</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Seguros y espejos eléctricos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Rin de 15" de aleación (exclusivamente transmisión automática)</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Rin de 16"de aleación y neumático 195/55R16</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Parrilla cromada, manijas al color de la carrocería</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Manijas, moldura de puertas y cajuela cromadas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Faros con lupas de alta proyección con ajuste de altura</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Faros con lupas de alta proyección con ajuste de altura</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Volante con ajuste de altura y controles de audio</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Sistema Keyless Push Start & Entry</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Aire acondicionado Manual</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Retrovisor interior automático</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Descanzabrazos posterior con portavasos.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Aire acondicionado automático</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Salidas de A/C en la parte posterior de la cabina</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Volante forrado en piel con controles de manos libres y control crucero.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>ABS y bolsas de aire frontales.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Salidas de A/C en la parte posterior de la cabina.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Columna de dirección colapsable.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Múltiples amenidades en parte posterior de la cabina: Cortinilla parasol, luces de lectura, descanzabrazos con portavasos, portabotellas, portarevistas y tomacorriente de 12 v.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Sistema de audio con entrada USB.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Asiento del conductor  con ajuste de altura.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Barras de acero en puertas</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Sistema de audio con entrada USB.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>ABS y bolsas de aire frontales.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Columna de dirección colapsable.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Barras de acero en puertas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a style='text-align: center; margin: 30px auto 0 auto; display: block' onclick=ga('send', 'event', 'Material de apoyo', 'Descarga', 'Ficha_ciaz' ); href="/files/fichas/ciaz.pdf" target="_blank"><span class="entypo">&#128196;</span><span>Descargar ficha completa en PDF</span></a>
                    </div>
                </div>
                <!--
                -->
                <div class="comparative-button-wrapper">
                    <a class="swap-display-tables button blue" data-display-table="comparative">Comparar con otros modelos</a>
                </div>
            </div>
            <div id="comparative-space-wrapper" class="display-tables" data-display-table="comparative">
                <div id="comparative-space-mask">
                    <div id="comparative-space">

                    </div>
                </div>
                <div class="comparative-button-wrapper">
                    <a class="swap-display-tables button blue" data-display-table="prices">Precios y versiones</a>
                </div>
            </div>
            <a name="mantenimiento" id="maintenance-prices" class="maintenance-anchors"></a>
            <div class="maintenance-prices">
                <div id="maintenance-title" class="section-title">
                    <div class="title">PRECIOS DE MANTENIMIENTO</div>
                </div>
                <div class="suzuki-table cols-3 " id="versions-maintenance-table">
                    <div class="data-wrapper">
                        <div class="body">
                            <div class="row  row-dark cols-3">
                                <div class="cell maintenance-head title col-light first">
                                    <div class="title">
                                        <p>KM</p>
                                    </div>
                                </div>
                                <div class="cell maintenance-head title col-dark">
                                    <div class="title">
                                        <p>Meses</p>
                                    </div>
                                </div>
                                <div class="cell maintenance-head title col-light last">
                                    <div class="title">
                                        <p>Ciaz</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>5,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>3</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$880.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-dark cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>10,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$940.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>20,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>12</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1,270.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-dark cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>30,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>18</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1770.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>40,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>24</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$2,690.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-dark cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>50,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>30</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1,640.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>60,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>36</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$2,160.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="maintenance-image" style="background: url('img/sections/models/prices/big-models/ciaz.png') right 80px no-repeat;">&nbsp;</div>
            <div class="clearfix"></div>
            <p id="p-empty">&nbsp;</p>
            <!--
            <div class="next-link-text" style="margin-top: 20px;">
                <a  class="scroll-in-site" href="#accesorios"><span>Visita Accesorios</span></a>
            </div>
            -->
        </div>
    </div>
    <a class="section-separator"  name="accesorios"></a>
    <div class="model-section special-padding-top">
        <div class="section-title">
            <div class="title">Accesorios</div>
            <div class="description">Diseño perfecto con el equipamiento ideal. La revolución sedán está aquí.</div>
        </div>
        <div class="galery-grid" id="accesorios-padding">
            <div class="content">
                <div class="view view-first box-1">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-1.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-01.jpg" class="info gallery-box-link accessories">
                            <span>1</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-2">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-2.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-02.jpg" class="info gallery-box-link accessories">
                            <span>2</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-3">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-3.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-03.jpg" class="info gallery-box-link accessories">
                            <span>3</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-4">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-4.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-04.jpg" class="info gallery-box-link accessories">
                            <span>4</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-5">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-5.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-05.jpg" class="info gallery-box-link accessories">
                            <span>5</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-6">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-6.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-06.jpg" class="info gallery-box-link accessories">
                            <span>6</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-7">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-7.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-07.jpg" class="info gallery-box-link accessories">
                            <span>7</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-8">
                    <img src="img/sections/models/accessories/ciaz/boxes/box-8.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/ciaz/foto-08.jpg" class="info gallery-box-link accessories">
                            <span>8</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-list" style="display: none;">
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-01.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-01-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-02.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-02-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-03.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-03-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-04.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-04-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-05.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-05-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-06.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-06-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-07.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-07-mini.jpg" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/ciaz/foto-08.jpg" data-fancybox-group="accessories" title="" alt="">
                    <img src="img/sections/models/accessories/ciaz/foto-08-mini.jpg" alt=""/>
                </a>
            </div>
            <!--
            <div id="next-test" class="next-link-text" style="margin-top: 40px;">
                <a  class="scroll-in-site" href="#prueba-de-manejo"><span>Haz una prueba</span></a>
            </div>
            -->
        </div>
    </div>
    <div id="content-test-drive-section"></div>
</div>
