<a name="instant-drive"></a>
<div id="instant-drive-section" class="model-section special-padding-top window-adaptable"  data-min-height="700">
    <div id="instant-drive-banner">
        <div class="section-title">
            <div class="title">Instant Drive</div>
            <div class="description">Podrías estar probando este suzuki en menos de 60 min.</div>
        </div>
        <div id="instant-drive-container">
            <img id="curve" src="img/sections/models/instant-drive/curva.png" alt="Curve">
            <div class="instant-drive-text">
                <img src="img/sections/models/instant-drive/ubicacion.png" alt="Utilizamos tu ubicación">
                <h3>Utilizamos tu ubicación</h3>
                <p>Para saber dónde pasar por ti</p>
            </div>
            <div class="instant-drive-text">
                <img src="img/sections/models/instant-drive/mapa.png" alt="Te enviamos un swift">
                <h3>Te enviamos un Ciaz</h3>
                <p>Espéralo en menos de 30 min</p>
            </div>
            <div class="instant-drive-text">
                <div class="car_thumb_180">
                    <div class="car ciaz">&nbsp;</div>
                </div>
                <h3>¡Manéjalo!</h3>
                <p>Enamórate de él, no querrás dejarlo</p>
            </div>
            <div class="div-center">
                <a href="/instantdrive" onclick="insta_drive_gaq();" class="button red big-button">Experimenta Instantdrive</a>
            </div>
            <div class="div-center">
                <a href="#" id="test-drive-open">o también puedes agendar una prueba de manejo.</a>
            </div>
        </div>
    </div>
</div>
