<div id="content-content">
    <div class="promos-wrapper-s hide_s-cross">
        <div class="promos-container">
        	<div class="promotion" id="">
        		<div id="content-section-slider-home"></div>
        	</div>
    	</div>
    </div>
    <div id="content-section-model-promo"></div>
</div>
