<div id="content-content">
    <a class="section-separator" name="inicio"></a>
    <div class="full-size-section gray-degree window-adaptable model-section" data-min-height="650">
        <div class="car-main " style="background: url('img/sections/models/main/kizashi.png') center 175px no-repeat">
            <div class="car-main-title">
                <div class="title">Kizashi 2015</div>
                <div class="slogan">Experimenta evolución. Distinción a primera vista. </div>
                <div class="price">&quot;Algo grande está por venir&quot;. Imponente diseño con finos acabados que roban miradas. </div>
                <div class="car-main-image" id="car-image-kizashi">&nbsp;</div>
            </div>
            <div class="car-next-step"><a href="#caracteristicas"><span>Características</span></a></div>
        </div>
    </div>
    <a class="section-separator" name="caracteristicas"></a>
    <div id="model-section-features" class="window-adaptable model-section special-padding-top" data-min-height="750">
        <div class="section-title">
            <div class="title">Características</div>
            <div class="description">Detalles que hacen de un auto una experiencia</div>
        </div>
        <div class="specifications-wrapper">
            <div class="specifications" id="features-wrapper">
                <div class="specification" style="background-image: url('img/sections/models/features/kizashi-2013-aire-acondicionado.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Aire acondicionado automático
                        </div>

                    </div>
                    <div class="description compact"><p>Prográmalo para tener siempre la temperatura deseada sin importar los cambios de clima exterior.</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/kizashi-2013-paddle-shifter.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Paddle Shifter
                        </div>

                    </div>
                    <div class="description regular"><p>Paletas de cambio de velocidad en el volante. Disfruta el control total del vehículo. Sólo para GLX</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/kizashi-2013-quemacocos.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Quemacocos
                        </div>

                    </div>
                    <div class="description regular"><p>Eléctrico de 3 posiciones con cubierta deslizable interior. Vive la libertad en todo momento desde el interior de tu Kizashi. Sólo para GLX</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/kizashi-2013-sistema-navegacion.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Sistema de navegación
                        </div>

                    </div>
                    <div class="description regular"><p>Pantalla táctil de 6.1” con reconocimiento de voz para llegar a tu destino sin contratiempos. Sólo para GLX</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/kizashi-2013-keyless.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Keyless Start &amp; Entry
                        </div>

                    </div>
                    <div class="description extended"><p>No tendrás que insertar la llave para abrir ni encender tu auto. Basta con tenerla contigo y presionar el botón correspondiente para disfrutar tu auto.</p></div>
                </div>
                <div class="specification" style="background-image: url('img/sections/models/features/kizashi-2013-camara-reversa.jpg');">
                    <div class="title-wrapper" style="color: #fff">
                        <div class="title">
                            Cámara y sensor de reversa
                        </div>

                    </div>
                    <div class="description regular"><p>Se activa al poner reversa en el selector,<br/>
                    facilitando maniobras en espacios reducidos.<br/>Sólo para GLX</p></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="specifications-controls">
            <div class="arrows">
                <div class="arrow left"><a class="specifications-controls" href="#left"><span>Left</span></a></div>
                <div class="arrow right"><a class="specifications-controls" href="#right"><span>Right</span></a></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--<div class="next-link-text">
            <a  class="scroll-in-site" href="#galeria"><span>Visita Galería</span></a>
        </div>-->
    </div>
    <a class="section-separator"  name="galeria"></a>
    <div class="window-adaptable model-section special-padding-top" data-min-height="750">
        <div class="section-title">
            <div class="title">Galería</div>
            <div class="description">Experimenta evolución. Distinción a primera vista. </div>
        </div>
        <div class="galery-grid galery-of-kizashi">
            <div class="content">
                <div class="view view-first box-1">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-1.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/interior/foto-07.png" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-2">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-2.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/interior/foto-06.png" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-3">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-3.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/interior/foto-04.png" class="info gallery-box-link interior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-4">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-4.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/exterior/foto-10.png" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-5">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-5.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/exterior/foto-05.png" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-6">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-6.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/exterior/foto-02.png" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-7">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-7.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/exterior/foto-08.png" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-8">
                    <img src="img/sections/models/gallery/kizashi/boxes/box-8.png" />
                    <div class="mask">
                        <a href="img/sections/models/gallery/kizashi/exterior/foto-09.png" class="info gallery-box-link exterior" data-link="">
                            <span>&nbsp;</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="hidden-list" >
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/exterior/foto-02.png" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/exterior/foto-02-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/exterior/foto-03.png" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/exterior/foto-03-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/exterior/foto-05.png" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/exterior/foto-05-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/exterior/foto-08.png" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/exterior/foto-08-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/exterior/foto-09.png" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/exterior/foto-09-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/exterior/foto-10.png" data-fancybox-group="exterior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/exterior/foto-10-mini.png" alt=""/>
                </a>
            </div>
            <div class="hidden-list" >
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/interior/foto-01.png" data-fancybox-group="interior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/interior/foto-01-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/interior/foto-04.png" data-fancybox-group="interior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/interior/foto-04-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/interior/foto-06.png" data-fancybox-group="interior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/interior/foto-06-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/gallery/kizashi/interior/foto-07.png" data-fancybox-group="interior" title="" alt="">
                    <img src="img/sections/models/gallery/kizashi/interior/foto-07-mini.png" alt=""/>
                </a>
            </div>
            <div class="hidden-list" >
            </div>
        </div>
        <!--<div class="next-link-text" style="margin-top: 40px;">
            <a  class="scroll-in-site" href="#precios"><span>Visita Versiones</span></a>
        </div>-->
    </div>
    <a class="section-separator"  name="precios"></a>
    <div class="model-section special-padding-top">
        <div class="section-title">
            <div class="title">VERSIONES Y PRECIOS</div>
            <div class="description">Detalles que hacen de un auto una experiencia.</div>
        </div>
        <div class="model-prices">
            <span class="arrow-prices arrow-prices-left">&nbsp;</span>
            <span class="arrow-prices arrow-prices-right">&nbsp;</span>
            <div id="features-space-wrapper" class="display-tables" data-display-table="prices">
                <div id="features-space-mask">
                    <div id="features-space">
                        <div class="suzuki-table cols-2 " id="versions-price-table">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="image">
                                                <img src="img/sections/models/prices/mini-models/kizashi-gls.png" />
                                            </div>
                                            <div class="title">
                                                <p>Kizashi CVT GLS</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                                <div class="image">
                                                    <img src="img/sections/models/prices/mini-models/kizashi-glx.png" />
                                                </div>
                                            <div class="title">
                                                <p>Kizashi CVT GLX</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-2">
                                        <div class="cell price col-light first">
                                            <div class="title">
                                                <p><span>CVT GLS 2014 $319,500.00</span><span class="price-promotion">Precio de promoción: $299,500.00</span></p>
                                            </div>
                                        </div>
                                        <div class="cell price col-dark last">
                                            <div class="title">
                                                <p><span>CVT GLX 2014 $369,500.00</span><span class="price-promotion">Precio de promoción: $349,500.00</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Motor: 4 cilindros, 2.4 litros VVT, 16 válvulas.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Motor: 4 cilindros, 2.4 litros VVT, 16 válvulas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Transmisión CVT.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Transmisión CVT.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Potencia neta (hp@rpm): 176 hp@6,500 rpm.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Potencia neta (hp@rpm): 176 hp@6,500 rpm.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Rines: Aluminio de 17 pulgadas.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Rines: Aluminio de 18 pulgadas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Aire acondicionado automático de doble zona.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Aire acondicionado automático de doble zona.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Botón de arranque (Keyless start).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Botón de arranque (Keyless start).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Controles de audio en el volante</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Controles de audio y velocidad crucero iluminados en el volante.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Dirección Eléctricamente Asistida, sensible a la velocidad (EPS).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Dirección Eléctricamente Asistida, sensible a la velocidad (EPS).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Sistema Antibloqueo de Frenos (ABS).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Sistema Antibloqueo de Frenos (ABS).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Distribución Electrónica de Fuerza de Frenado (EBD).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Distribución Electrónica de Fuerza de Frenado (EBD).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Programa Electrónico de Estabilidad (ESP® ).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Programa Electrónico de Estabilidad (ESP® ).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Bolsas de aire frontales (x2), laterales delanteras y traseras (x4) y tipo cortina (x2).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Luces de circulación diurna (DRL).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Asistencia de frenado.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Pantalla touch de 6.1" WVGA.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Frenos de disco en las 4 ruedas con pastillas de freno Akebono®.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Bolsas de aire frontales (x2), laterales delanteras y traseras (x4) y tipo cortina (x2).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Asiento del conductor con ajuste de altura manual.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Faros de niebla delanteros.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Suspensión delantera: McPherson.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Asistencia de frenado.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Suspensión trasera: Multilink.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Frenos de disco en las 4 ruedas con pastillas de freno Akebono®.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Asientos cubiertos con tela.</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Palancas de cambio de velocidades en el volante (Paddle Shifter).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p>Luces de circulación diurna (DRL).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Suspensión delantera: McPherson.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Suspensión trasera: Multilink.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Sensor de reversa con cámara integrada.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Sistema de manos libres Bluetooth®.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Quemacocos eléctrico con cubierta interna deslizable.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Asientos cubiertos con piel.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell  col-light first">
                                            <div class="title">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Asientos delanteros con ajusre eléctrico de conductor y pasajero.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell pdf-download col-light first">
                                            <div class="title">
                                                <p><a onclick=ga('send', 'event', 'Material de apoyo', 'Descarga', 'Ficha_kizashi' ); href="files/fichas/kizashi-2015.pdf" target="_blank"><span class="entypo">&#128196;</span><span>Descargar ficha completa en PDF</span></a></p>
                                            </div>
                                        </div>
                                        <div class="cell pdf-download col-dark last">
                                            <div class="title">
                                                <p><a onclick=ga('send', 'event', 'Material de apoyo', 'Descarga', 'Ficha_kizashi' ); href="files/fichas/kizashi-2015.pdf" target="_blank"><span class="entypo">&#128196;</span><span>Descargar ficha completa en PDF</span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="comparative-button-wrapper">-->
                    <!--<a class="swap-display-tables button blue" data-display-table="comparative">Comparar con otros modelos</a>-->
                <!--</div>-->
            </div>
            <div id="comparative-space-wrapper" class="display-tables" data-display-table="comparative">
                <div id="comparative-space-mask">
                    <div id="comparative-space">
                        <div class="suzuki-table cols-2 " id="versions-comparative-table">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-2">
                                        <div class="cell gray col-light first">
                                            <div class="title">
                                                <p>Especificaciones</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Kizashi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Botón de arranque</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Botón de arranque (Keyless Start®).</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Sensores de reversa</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Asistencia de frenado</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Faros de niebla</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Luces de circulación diurna</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Bluetooth®</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Homelink®</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Bolsas de aire</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Laterales delanteras x2 / traseras x2</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Rines de aluminio</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>18"</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>Velocidades al volante (Paddle shifter)</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-2">
                                        <div class="cell bold col-light first">
                                            <div class="title">
                                                <p>País de origen</p>
                                            </div>
                                        </div>
                                        <div class="cell  col-dark last">
                                            <div class="title">
                                                <p>Japón</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suzuki-table cols-1 car-comparative-col" id="car-comparative-0">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                                <div class="control">
                                                    <div class="close">&nbsp;</div>
                                                </div>
                                            <div class="title">
                                                <p>AUDI A4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Delanteras x2</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>17"</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Alemania</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suzuki-table cols-1 car-comparative-col" id="car-comparative-1">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                                <div class="control">
                                                    <div class="close">&nbsp;</div>
                                                </div>
                                            <div class="title">
                                                <p>ACURA TSX</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Delanteras x2</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>17"</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Japón</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suzuki-table cols-1 car-comparative-col" id="car-comparative-2">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                                <div class="control">
                                                    <div class="close">&nbsp;</div>
                                                </div>
                                            <div class="title">
                                                <p>Honda Accord</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Delanteras x2</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>17"</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Estados Unidos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suzuki-table cols-1 car-comparative-col" id="car-comparative-3">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                                <div class="control">
                                                    <div class="close">&nbsp;</div>
                                                </div>
                                            <div class="title">
                                                <p>Toyota Camry</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Delanteras x2</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>16"</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Estados Unidos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suzuki-table cols-1 car-comparative-col" id="car-comparative-4">
                            <div class="data-wrapper">
                                <div class="head">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                                <div class="control">
                                                    <div class="close">&nbsp;</div>
                                                </div>
                                            <div class="title">
                                                <p>Mazda 6</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Delanteras x2</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p><span class="entypo">&#10003;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-dark cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>x</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  row-light cols-1">
                                        <div class="cell  col-light last first">
                                            <div class="title">
                                                <p>Estados Unidos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="car-comparative-list"><h3>COMPARA TU SUZUKI</h3><p>Selecicona el modelo con el cual deseas comprar</p><ul><li><a class="open" href="#" data-id="car-comparative-0">AUDI A4</a></li><li><a class="open" href="#" data-id="car-comparative-1">ACURA TSX</a></li><li><a class="open" href="#" data-id="car-comparative-2">Honda Accord</a></li><li><a class="open" href="#" data-id="car-comparative-3">Toyota Camry</a></li><li><a class="open" href="#" data-id="car-comparative-4">Mazda 6</a></li></ul></div>
                    </div>
                </div>
                <div class="comparative-button-wrapper">
                    <a class="swap-display-tables button blue" data-display-table="prices">Precios y versiones</a>
                </div>
            </div>
            <a name="mantenimiento" id="maintenance-prices" class="maintenance-anchors"></a>
            <div class="maintenance-prices">
                <div id="maintenance-title" class="section-title">
                    <div class="title">PRECIOS DE MANTENIMIENTO</div>
                </div>
                <div class="suzuki-table cols-3 " id="versions-maintenance-table">
                    <div class="data-wrapper">
                        <div class="body">
                            <div class="row  row-dark cols-3">
                                <div class="cell maintenance-head title col-light first">
                                    <div class="title">
                                        <p>KM</p>
                                    </div>
                                </div>
                                <div class="cell maintenance-head title col-dark">
                                    <div class="title">
                                        <p>Meses</p>
                                    </div>
                                </div>
                                <div class="cell maintenance-head title col-light last">
                                    <div class="title">
                                        <p>Kizashi</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>5,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>3</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$990.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-dark cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>10,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1,130.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>20,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>12</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$3,110.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-dark cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>30,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>18</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1,160.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>40,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>24</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1,610.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-dark cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>50,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>30</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$2,380.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row  row-light cols-3">
                                <div class="cell  col-light first">
                                    <div class="title">
                                        <p>60,000</p>
                                    </div>
                                </div>
                                <div class="cell  col-dark">
                                    <div class="title">
                                        <p>36</p>
                                    </div>
                                </div>
                                <div class="cell  col-light last">
                                    <div class="title">
                                        <p>$1,780.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="maintenance-image" style="background: url('img/sections/models/prices/big-models/kizashi.png') right 80px no-repeat;">&nbsp;</div>

            <div class="clearfix"></div>
            <p id="p-empty">&nbsp;</p>
            <!--<div class="next-link-text" style="margin-top: 20px;">
                <a  class="scroll-in-site" href="#accesorios"><span>Visita Accesorios</span></a>
            </div>-->
        </div>
    </div>
    <a class="section-separator"  name="accesorios"></a>
    <div class="model-section special-padding-top">
        <div class="section-title">
            <div class="title">Accesorios</div>
            <div class="description">&quot;Algo grande está por venir&quot;. Imponente diseño con finos acabados que roban miradas. </div>
        </div>
        <div class="galery-grid" id="accesorios-padding">
            <div class="content">
                <div class="view view-first box-1">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-1.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-01.png" class="info gallery-box-link accessories">
                            <span>1</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-2">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-2.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-02.png" class="info gallery-box-link accessories">
                            <span>2</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-3">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-3.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-03.png" class="info gallery-box-link accessories">
                            <span>3</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-4">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-4.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-04.png" class="info gallery-box-link accessories">
                            <span>4</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-5">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-5.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-05.png" class="info gallery-box-link accessories">
                            <span>5</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-6">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-6.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-06.png" class="info gallery-box-link accessories">
                            <span>6</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-7">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-7.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-07.png" class="info gallery-box-link accessories">
                            <span>7</span>
                        </a>
                    </div>
                </div>
                <div class="view view-first box-8">
                    <img src="img/sections/models/accessories/kizashi/boxes/box-8.png" />
                    <div class="mask">
                        <a href="img/sections/models/accessories/kizashi/foto-08.png" class="info gallery-box-link accessories">
                            <span>8</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-list" style="display: none;">
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-01.png" data-fancybox-group="accessories" title="Lodera delantera" alt="Lodera delantera">
                    <img src="img/sections/models/accessories/kizashi/foto-01-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-02.png" data-fancybox-group="accessories" title="Red de cajuela" alt="Red de cajuela">
                    <img src="img/sections/models/accessories/kizashi/foto-02-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-03.png" data-fancybox-group="accessories" title="Spoiler para cajuela" alt="Spoiler para cajuela">
                    <img src="img/sections/models/accessories/kizashi/foto-03-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-04.png" data-fancybox-group="accessories" title="Lodera trasera" alt="Lodera trasera">
                    <img src="img/sections/models/accessories/kizashi/foto-04-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-05.png" data-fancybox-group="accessories" title="Rin de aluminio de 18&quot;" alt="Rin de aluminio de 18&quot;">
                    <img src="img/sections/models/accessories/kizashi/foto-05-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-06.png" data-fancybox-group="accessories" title="Tapetes de alfombra" alt="Tapetes de alfombra">
                    <img src="img/sections/models/accessories/kizashi/foto-06-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-07.png" data-fancybox-group="accessories" title="Tapetes todo tipo de clima" alt="Tapetes todo tipo de clima">
                    <img src="img/sections/models/accessories/kizashi/foto-07-mini.png" alt=""/>
                </a>
                <a class="fancybox-thumbs" href="img/sections/models/accessories/kizashi/foto-08.png" data-fancybox-group="accessories" title="Cenicero" alt="Cenicero">
                    <img src="img/sections/models/accessories/kizashi/foto-08-mini.png" alt=""/>
                </a>
            </div>
            <p style="margin: 5px 0 30px; text-align: center;">
                Pregunta en tu concesionaria por los accesorios para que personalices tu Suzuki.<br /><br />
                <a onclick="ga('send', 'event', 'Material de apoyo', 'Descarga', 'Accesorios_kizashi');" href="files/accesorios/kizashi.pdf" class="button blue" target="_blank">Descargar catálogo de accesorios</a>
            </p>
            <!--<div id="next-test" class="next-link-text" style="margin-top: 40px;">
                <a  class="scroll-in-site" href="#prueba-de-manejo"><span>Haz una prueba</span></a>
            </div>-->
        </div>
    </div>
    <div id="content-test-drive-section"></div>
</div>
