<div id="content-content">
    <div id="concessionaires" class="window-adaptable" data-min-height="550"></div>
    <div id="concessionaires-normal" class="window-adaptable hidden-nomobil" data-min-height="550"></div>
</div>
