<div class="contact_content">
    <div id="form-wrapper" >
        <form id="form-contact">
            <!-- Alerta -->
            <div class="contact_alert"><span>Los siguientes campos son erróneos:</span></div>

            <!-- Formulario -->
            <div class="contact_elements">
                <div class="contact_element a">
                    <fieldset>
                        <label for="contact_name"><span style="color: red;" class="fa fa-asterisk"></span> Nombre</label>
                        <input type="text" name="suk_gdl_contact_name" value="" class="icon buddy" id="contact_name" placeholder="Nombre" data-validation-data="required|name">
                        <p class="invalid-message" id="error_nombre">Este campo es obligatorio<span>&nbsp;</span></p>
                    </fieldset>
                </div>
                <div class="contact_element b">
                    <fieldset>
                        <label for="contact_lastname"><span style="color: red;" class="fa fa-asterisk"></span> Apellido</label>
                        <input name="suk_gdl_contact_lastname" id="contact_lastname" type="text" class="icon buddy" value="" data-validation-data="required|name" placeholder="Apellidos Paterno y Materno">
                        <p class="invalid-message" id="error_nombre">Este campo es obligatorio<span>&nbsp;</span></p>
                    </fieldset>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="contact_elements">
                <div class="contact_element a">
                    <fieldset>
                        <label for="contact_email"><span style="color: red;" class="fa fa-asterisk"></span> Correo electrónico</label>
                        <input name="suk_gdl_contact_email"  id="contact_email" type="email" class="icon email" value="" data-validation-data="required|email" placeholder="Correo electrónico">
                        <p class="invalid-message" id="error_correo">Este campo es obligatorio<span>&nbsp;</span></p>
                    </fieldset>
                </div>
            </div>
            <div class="contact_elements">
                <div class="contact_element b">
                    <fieldset>
                        <label for="contact_department"><span style="color: red;" class="fa fa-asterisk"></span> Departamento</label>
                        <select name="suk_gdl_contact_department" id="contact_department" type="dropdown" class="seleccionar" style="width: 256px;" data-validation-data="required">
                            <option label="Selecccionar" selected="selected" disabled="disabled" value="">Selecciona Departamento</option>
                            <option value="ventas">Ventas</option>
                            <option value="servicio">Servicio</option>
                            <option value="refacciones">Refacciones / Accesorios</option>
                            <option value="mercadotecnia">Mercadotecnia</option>
                            <option value="otros">Otros</option>
                        </select>
                        <p class="invalid-message" id="error_departamento">Este campo es obligatorio<span>&nbsp;</span></p>
                    </fieldset>
                </div>
                <div class="contact_element a">
                    <fieldset>
                        <label for="contact_car_key"><span style="color: red;" class="fa fa-asterisk"></span> Auto</label>
                        <select name="suk_gdl_contact_car" id="contact_car_key" type="dropdown" class="seleccionar" style="width: 256px;" data-validation-data="required">
                            <option label="Selecccionar" selected="selected" disabled="disabled" value="">Selecciona Modelo</option>
                            <option value="swift-sport">Swift Sport</option>
                            <option value="swift">Swift</option>
                            <!--<option value="sx4-crossover">SX4 Crossover</option>
                            <option value="sx4-sedan">SX4 Sedán</option>-->
                            <option value="kizashi">Kizashi</option>
                            <option value="grand-vitara">Grand Vitara</option>
                            <option value="s-cross">S-Cross</option>
                            <option value="ciaz">Ciaz</option>
                        </select>
                        <p class="invalid-message" id="error_auto">Este campo es obligatorio<span>&nbsp;</span></p>
                    </fieldset>
                </div>
            </div>
            <div class="contact_elements">
                <div class="contact_element ab">
                    <fieldset>
                        <label for="contact_message"><span style="color: red;" class="fa fa-asterisk"></span> Mensaje:</label>
                        <textarea name="suk_gdl_contact_message" class="escribir2" id="contact_message" data-validation-data="required|address"></textarea>
                        <p class="invalid-message" id="error_mensaje">Este campo es obligatorio<span>&nbsp;</span></p>
                    </fieldset>

                    <fieldset class="fieldset-radio-checkbox">
                        <label for="contact-newsletter" class="label-checkbox checkbox-checked">
                            <input name="suk_gdl_contact_news" type="checkbox" id="contact-newsletter" checked="checked" value="on"> Deseo recibir noticias y promociones.
                        </label>
                    </fieldset>
                    <input type="hidden" name="suk_gdl_contact_concesionary" id="contact_concesionaria" value="Suzuki Guadalajara">
                    <input type="hidden" name="suk_gdl_contact_depto" id="contact_depto" value="">
                    <input type="hidden" name="suk_gdl_contact_auto" id="contact_auto" value="">
                    <input type="hidden" name="suk_gdl_contact_image_modelo" id="contact_image_modelo" value="">
                    <input type="hidden" name="suk_gdl_contact_subscription" id="contact_subscription" value="">
                </div>
            </div>
        </form>
        <div class="contact_elements">
            <div class="contact_element ab">
                <button id="suk_contact_submit" class="enviar button blue">Enviar</button>
                <div id="pre-loader"></div>
                <p id="revisa_aviso">
                    Tus datos están a salvo.<br/>
                    Para mayor información revisa nuestro <a id="go-privacy-notice">Aviso de privacidad</a>
                </p>
            </div>
        </div>
    </div>
    <div class="form-thanks" style="display: none">
        <p class="agradecimiento_titulo">Mensaje enviado</p>
        <p class="agradecimiento_titulo2">En breve responderemos tu mensaje al siguiente correo:<br /><span id="email-from">-</span></p>
        <hr>
        <p class="agradecimiento_titulo3">¡No olvides seguir nuestras noticias y ofertas en las redes sociales!</p>
        <div class="arrow"><img src="img/sections/contact/arrow.png"></div>
    </div>
</div>
