<div class="concessionaire-column list-normal" id="concessionaires-list">
    list-normal
</div>
<div class="concessionaire-column info-normal" id="concessionaires-data">
    info-normal
</div>
<div class="concessionaire-column map-normal" id='concessionaires-map'>
    mapa-normal
</div>

