/* CLOSE PANEL */
a#close-models-panel,
a#close-financing-panel,
a#close-owners-panel,
a#close-before-buy-panel,
/* CLICK INDEX */
a#return-index,
/* CLICK GRUPO */
a#go-group,
/* CLICK CONCESIONARIES */
a#go-concesionaries,
/* CLICK CATALOGS */
a#go-catalogs,
/* CLICK CONTACT US */
a#go-contact,
/* BUTONS CONTROL PANEL MENU */
a#header-models-button,
a#header-financing-button,
a#header-owners-button,
a#header-before-buy-button,
/* CLICK PANEL MENU MODELS BY MODEL*/
#go-model-swift-sport,
#go-model-swift,
#go-model-sx4-crossover,
#go-model-sx4-sedan,
#go-model-kizashi,
#go-model-grand-vitara,
#go-model-s-cross,
#go-model-ciaz {
	cursor: pointer;
}

/*input[type='text'].buddy#contact_name,
input[type='text'].buddy#contact_lastname,
input[type='email'].email#contact_email,
textarea#contact_message {
	width: 100%;
}*/
.chosen-container {
	height:40px;
}

.chosen-container a.chosen-single {
	height:40px;
	border:1px solid #ccc;
	box-shadow:none;
	background:#fff;
	border-radius:0;
	line-height:40px;
}

.chosen-container a.chosen-single>div>b {
	background-position:2px 10px;
}

.chosen-container.chosen-container-active a.chosen-single {
	background:#fff;
}

.chosen-container.chosen-container-active a.chosen-single>div>b {
	background-position:-16px 10px;
}

.chosen-container#quote_states_chosen .chosen-drop ul.chosen-results {
	max-height:150px;
}
